<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="google-signin-client_id"
          content="49028948097-abc28eprft8ricne642tpb3793mt3hj7.apps.googleusercontent.com">
    <title>GeneReads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google meta-data-->
    <meta name="google-signin-client_id"
          content="49028948097-abc28eprft8ricne642tpb3793mt3hj7.apps.googleusercontent.com">

    <!--Google Sign In-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/gallery_custom.css">
    <link rel="stylesheet" href="/css/book-custom.css">
    <link rel="stylesheet" href="/css/rating.css">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <!-- Angular js
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>


    <!-- JS
    ================================================== -->

    <script src="/js/bootstrap.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/searchController.js"></script>
    <script src="/js/bookController.js"></script>
    <script src="/js/homeController.js"></script>
    <script src="/js/services/toReadFactory.js"></script>
    <script src="/js/services/readingFactory.js"></script>
    <script src="/js/services/ratingFactory.js"></script>
    <script src="/js/services/reviewFactory.js"></script>
    <script src="/js/services/bookFactory.js"></script>

</head>

<body ng-controller="BookController">
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container main-container">

    <div class="row header"><!-- Begin Header -->

        <!-- Logo
================================================== -->
        <div class="span5 logo">
            <a href="index.htm"><img src="/img/title_logo.png" alt=""/></a>
            <h5>The next book you`ll love</h5>
        </div>

        <br/>
        <br/>
        <div ui-view="menu"></div>

    </div><!-- End Header -->

    <!-- Page Content
    ================================================== -->
    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery-single">

            <div class="row">
                <div class="span6">
                    <img ng-src={{accessedBook.bookImage}} class="book-align-left thumbnail" alt="image">

                    <!-- Post Comments
        ================================================== -->
                    <section class="comments">
                        <ul>
                            <li ng-repeat="review in reviews">
                                <img src="img/user-avatar.jpg" alt="Image"/>
                                <span class="comment-name">{{review.username}}</span>
                                <span class="comment-date">{{review.timestamp}}</span>
                                <div class="comment-content">{{review.review}}
                                </div>
                            </li>

                        </ul>
                    </section><!-- Close comments section-->

                </div>

                <div class="span6">
                    <h2>{{accessedBook.title}}</h2>
                    <h6>({{allRating}}/10)</h6>
                    <p class="lead"> by {{accessedBook.authors}}</p>
                    <p>{{accessedBook.description}}</p>


                    <!--RATING-->

                    <div class="wrap">
                        <ul class="stars">
                            <li title="5" id="5stars"></li>
                            <li title="4" id="4stars"></li>
                            <li title="3" id="3stars"></li>
                            <li title="2" id="2stars"></li>
                            <li title="1" id="1stars"></li>
                        </ul>
                        <input id="rating" type="hidden" class="required">
                    </div>


                    <!--      <h6>Default Button</h6>-->
                    <p>
                        <button class="btn" ng-class="class" id="toread" type="button" ng-click="toRead()">To read
                        </button>
                        <button class="btn" ng-class="readingClass" id="reading" type="button" ng-click="reading()">
                            Reading
                        </button>
                    </p>

                    <ul class="project-info">
                        <li><h6>Category: </h6> {{accessedBook.category}}</li>
                        <li><h6>Language: </h6> {{accessedBook.language}}.</li>
                        <li><h6>Published Date: </h6> {{accessedBook.publishedDate}}</li>
                        <li><h6>Page count: </h6> {{accessedBook.pageCount}}</li>
                    </ul>

                    <a class="btn btn-inverse pull-left" href={{accessedBook.previewLink}} target="_blank">Preview</a>
                    <a href="/" class="pull-right"><i class="icon-arrow-left"></i>Back to home</a>

                    <!-- Comment Form -->
                    <div class="comment-form-container">
                        <h6>Leave a review</h6>
                        <form action="#" id="comment-form">
                            <textarea class="span6" ng-model="review"></textarea>
                            <div class="row">
                                <div class="span2">
                                    <input type="submit" class="btn btn-inverse" value="Post My Review" ng-click="addReview()">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div><!-- End gallery-single-->

    </div><!-- End container row -->

</div> <!-- End Container -->

<!-- Footer Area
    ================================================== -->
<div class="footer-container"><!-- Begin Footer -->
    <div class="container">
        <div class="row footer-row">
            <div class="span3 footer-col">
                <h5>About Us</h5>
                <img src="/img/piccolo-footer-logo.png" alt="Piccolo"/><br/><br/>
                <address>
                    <strong>Design Team</strong><br/>
                    123 Main St, Suite 500<br/>
                    New York, NY 12345<br/>
                </address>
                <ul class="social-icons">
                    <li><a href="#" class="social-icon facebook"></a></li>
                    <li><a href="#" class="social-icon twitter"></a></li>
                    <li><a href="#" class="social-icon dribble"></a></li>
                    <li><a href="#" class="social-icon rss"></a></li>
                    <li><a href="#" class="social-icon forrst"></a></li>
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Latest Tweets</h5>
                <ul>
                    <li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum.
                        Morbi blandit ultricies ultrices.
                    </li>
                    <li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu
                        orci rutrum aliquam.
                    </li>
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Latest Posts</h5>
                <ul class="post-list">
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                    <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                    <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                    <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Flickr Photos</h5>
                <ul class="img-feed">
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    <li><a href="#"><img src="/img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                </ul>
            </div>
        </div>

        <div class="row"><!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                            <a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Features</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="#">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="#">Contact</a>
                            </span>
                    </div>
                </div>
            </div>
        </div><!-- End Sub Footer -->

    </div>
</div><!-- End Footer -->

<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
