<!-- Gallery Items
       ================================================== -->
<div class="span12 gallery">
    <ul id="filterOptions" class="gallery-cats clearfix">
        <li class="active"><a href="#" class="all">All</a></li>
        <li><a href="#" class="illustration">Illustration</a></li>
        <li><a href="#" class="design">Design</a></li>
        <li><a href="#" class="video">Fiction</a></li>
        <li><a href="#" class="web">Drama</a></li>
    </ul>
    <div class="row clearfix">
        <ul ng-repeat="book in SearchInputService.books" class="gallery-post-grid holder">
            <!--NG REPEAT -->
            <li class="span3 gallery-item" data-id={{book.title}} data-type="illustration video">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="/api/v1/book/{{book.apiUrl}}" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto" target="_blank"></a>
                                <a href="/api/v1/book/{{book.apiUrl}}" class="item-details-link" target="_blank"></a>
                            </span>
                        </span>
                <a href="/api/v1/book/{{book.apiUrl}}" target="_blank"><img class="img-gallery" ng-src={{book.bookImage}} alt="Gallery"></a>
                <span class="project-details"><a href="/api/v1/book/{{book.apiUrl}}" target="_blank">{{book.title}}</a>by {{book.authors}}</span>
            </li>

        </ul>
    </div>
</div><!-- End gallery list-->