<!-- Gallery Items
       ================================================== -->
<div class="span12 gallery">

    <ul id="filterOptions" class="gallery-cats clearfix">
        <li class="active"><a href="#" class="all">All</a></li>
        <li><a href="#" class="illustration">Illustration</a></li>
        <li><a href="#" class="design">Design</a></li>
        <li><a href="#" class="video">Video</a></li>
        <li><a href="#" class="web">Web</a></li>
    </ul>

    <div class="row clearfix">
        <ul ng-repeat="book in books" class="gallery-post-grid holder">
            <!--NG REPEAT -->
            <li class="span3 gallery-item" data-id={{book.title}} data-type="illustration video">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="/img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="gallery-single.htm" class="item-details-link"></a>
                            </span>
                        </span>
                <a href="gallery-single.htm"><img class="img-gallery" src={{book.bookImage}} alt="Gallery"></a>
                <span class="project-details"><a href="gallery-single.htm">{{book.title}}</a>by {{book.authors}}</span>
            </li>

        </ul>

    </div>
    <!-- Pagination -->
    <div class="pagination">
        <ul>
            <li class="active"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>

</div><!-- End gallery list-->