<!-- Main Navigation
        ================================================== -->
<div class="span7 navigation">
    <div class="navbar hidden-phone">
        <ul class="nav">
            <li class="dropdown active">
                <a href="index.htm">Home </a>
            </li>
            <li><a href="features.htm">My Profile</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">My library <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="page-full-width.htm">Books I've read</a></li>
                    <li><a href="page-right-sidebar.htm">To read</a></li>
                    <li><a href="/#" ng-click="SearchInputService.getServiceType('currently');
                SearchInputService.getBooks()">Currently reading</a></li>
                </ul>
            </li>
            <li>
                <a href="/#" ng-click="SearchInputService.getServiceType('rec');
                SearchInputService.getBooks()" >Recommandations </a>
            </li>
        </ul>
    </div>
</div>