
    <input type="radio" id="toggle--signup" name="toggle" class="ghost"/>
    <input type="radio" checked id="toggle--login" name="toggle" class="ghost"/>

    <img class="logo framed" src="img/title_logo_white.png" alt="GeneReads logo"/>


    <form id="sign-up-form" class="form form--signup framed">
        <h2 class="text text--centered text--omega">Join the other <b>152.6 thousand</b> people and</br>share all the
            books that you love.</h2>

        <input type="email" placeholder="Email" class="input input--top" ng-model="account.email"/>
        <input type="text" placeholder="Username" class="input" ng-model="account.username"/>
        <input type="password" placeholder="Password" class="input" ng-model="account.password"/>
        <input type="password" placeholder="Confirm Password" class="input" ng-model="confirmPassword"/>
        <input type="submit" value="Sign up" class="input input--submit"/>
        <label class="text--centered text--notmatch" ng-if="invalid">Passwords do not match!</label>

        <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
    </form>

    <form id="login-form" class="form form--login framed">
        <input type="email" placeholder="Email" class="input input--top" ng-model="account.email"/>
        <input type="password" placeholder="Password" class="input" ng-model="account.password"/>
        <input type="submit" value="Login" class="input input--submit"/>
        <label class="text--centered text--notmatch" ng-if="invalid">Passwords do not match!</label>

        <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
    </form>

    <div class="legal">
        <a class="text text--small text--border-right" href="javascript:;">Terms</a>
        <a class="text text--small text--border-right" href="javascript:;">Privacy</a>
        <a class="text text--small" href="javascript:;">Password help</a>
    </div>

    <div class="photo-cred">
        <a class="text text--small" title="Check out their blog."
           href="http://cabinporn.com/post/125371354365/the-cabin-book-book-in-the-wild-21-in-the-us" target="_blank">Photo
            posted by <b>cabinporn</b></a>
    </div>

    <div class="fullscreen-bg"></div>
    