.btn-login {
    border: 1px solid grey;
    border-radius: 2.5px;
    color: white;
    font-size: 16px;
}

.btn-facebook, .btn-facebook:active {
    background-color: #3A589E;
    font-family: Lato, sans-serif;
    position: fixed;
    top: 450px;
    left: 570px;
    min-height: 40px;
    min-width: 250px;
}

.btn-facebook:hover {
    background-color: #3C66C4;
}

.btn-google, .btn-google:active {
    background-color: #CF4332;
    font-family: Roboto, sans-serif;
    position: fixed;
    top: 500px;
    left: 570px;
    min-height: 40px;
    min-width: 250px;
}

.btn-google:hover {
    background-color: #DD4B39
}

.btn-login-logo {
    display: inline-block;
    font-size: 18px;
    padding-right: 6.5px;
    border-right: 1.5px solid #DDDDDD;
    min-width: 12.5px;
}

.btn-text {
    display: inline-block;
    padding: 4.5px 7.5px;
    color:white;
}